body{
	background-image:url("../../img/background/1.jpg");
	background-size:cover;
}

.login-container{
	margin-top:50px;
	width:400px;
	padding:5px 40px 20px 40px;
	background-color:rgba(0,0,0,0.2);
}

.input-group{
	margin-bottom: 4px;
}


.input-group > span > i{
	width: 15px;
}

.login-header{
	height: 70px;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #5a5757;
}

.login-header > i{
	color: teal;
    font-size: 46px;
}

.lblError{
	color: #889090;
    text-align: center;
}