body{
	background-color: #f6f6f6;
	height: 1000px;
	padding-top:55px;
}
.dropdown-user{
	position: relative;
	padding-left: 45px !important;
}

.dropdown-user .caret{
	color:#840a0a;
}

.img-user-container{
	height: 30px;
	width: 30px;
	position: absolute;
	display: inline-block;
	top: 8px;
	left:10px;
	border :1px solid white;
	border-radius: 50%;
	background: url("../../img/users/me.jpg");
	background-size: cover;
}


.canvas-container{
	height:250px;
	position:relative;
	display:inline-block;
	padding: 15px;	
}

.paper{
	position: relative;
	padding-top:50px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.paper:before, .paper:after{
	position: absolute;
	width:40%;
	height: 10px;
	content: ' ';
	left:12px;
	bottom:12px;
	background:transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.paper:after{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.img-frame{
	background-color:black;
	position: relative;
	height: 200px;
	width: 200px;
}

.img-responsive{
	max-height:100%;
	max-width:100%;	
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:auto;
	height: auto;
}

.add-container{
	padding:50px;
}

.side-menu-btn{
	display: inline-block;
    position: absolute;
    left: -23px;
    padding-right: 0px;
    top: 0;
    margin: 0;
    border-radius: 0;
    border:none;
    height: 50px;
}

#sidebar-wrapper{
	background-color: none;
	background-color:#131212;
	background-size:cover;
}

.data-table{
}

.add{
	padding-right:10px;
}