<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<button  href="#menu-toggle"  id="menu-toggle" type="button" class="navbar-toggle side-menu-btn">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="">
					<img class="logo" src="assets/img/logo/logo.png" />
				</a>
				</div>

				<div class="collapse navbar-collapse" id="mainMenu">
					<form class="navbar-form navbar-left" role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search"/>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default search-btn">
									<small>GO</small>
								</button>
							</span>
						</div>
					</form> 

					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							<a href="#">
								<small>HOME</small>
							</a>
						</li>
						<li>
							<a href="#">
								<small>MONITORING</small>
							</a>
						</li>
						<li>
							<a href="#">
								<small>HELP</small>
							</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle dropdown-user" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<div class="img-user-container">
									
								</div>
								<span class="caret"></span>
								User
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Account</a></li>
								<li><a href="#">Logout</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="#">Settings</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- container-fluid -->
		</div><!-- navbar -->